body {
  .main {
      
    .drag-drop-zone {
        padding: 2rem;
        text-align: center;
        background: #eee;
        margin: 0 0 16px 0;
    }
    
    .drag-drop-zone p {
        color: #FFF;
    }
    
    .inside-drag-area {
        background: #ccc;
        font-weight: 600;
    }
    
    .search-box {
      margin-bottom: 16px;
    }
  }
}
